
$fuji-shiny: rgb(252, 252, 255);
$fuji-bright: rgb(235, 237, 245);
$fuji-light: rgb(184, 188, 197);
$fuji-soft: rgb(112, 121, 147);
$fuji-medium: rgb(71, 82, 114);
$fuji-bold: rgb(37, 47, 74);
$fuji-dark: rgb(12, 23, 54);
$fuji-darker: rgb(0, 2, 9);
$sora-bright: rgb(237, 247, 255);
$sora-light: rgb(205, 234, 255);
$sora-soft: rgb(148, 203, 255);
$sora-medium: rgb(80, 171, 255);
$sora-bold: rgb(49, 141, 226);
$sora-dark: rgb(15, 77, 135);
$zen-bright: rgb(243, 243, 243);
$zen-light: rgb(223, 223, 223);
$zen-soft: rgb(209, 209, 209);
$zen-medium: rgb(149, 149, 149);
$zen-bold: rgb(112, 112, 112);
$zen-dark: rgb(77, 77, 77);
$zen-darker: rgb(43, 43, 43);
$no-border: 0px;
$border-thin: 1px;
$border-skinny: 2px;
$border-medium: 4px;
$square: 0px;
$softly-rounded: 4px;
$rounded: 8px;
$pill: 100px;
$shadow-smooth: 0px 2px 2px rgba(12, 23, 54, 0.15), 0px 0px 4px rgba(12, 23, 54, 0.15);
$shadow-medium: 0px 2px 2px rgba(12, 23, 54, 0.15), 0px 4px 10px rgba(12, 23, 54, 0.15);
$shadow-high: 0px 0px 4px rgba(0, 2, 9, 0.1), 0px 8px 15px 2px rgba(12, 23, 54, 0.1);
$no-space: 0px;
$s-space-xxs: 4px;
$s-space-xs: 8px;
$s-space-sm: 16px;
$s-space-md: 24px;
$s-space-lg: 32px;
$s-space-xl: 48px;
$s-space-xxl: 64px;
$l-space-xs: 80px;
$l-space-sm: 104px;
$l-space-md: 240px;
$font-otousan: Nunito Sans;
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-chubby: 700;
$font-weight-bold: 900;
$font-size-xxxl: 4rem;
$font-size-xxl: 3rem;
$font-size-xl: 2.25rem;
$font-size-lg: 1.75rem;
$font-size-md: 1.25rem;
$font-size-sm: 1rem;
$font-size-xs: 0.75rem;
$line-height-tiny: 100%;
$line-height-small: 120%;
$line-height-medium: 140%;
$line-height-tall: 180%;
$letter-spacing-none: 0px;
$letter-spacing-small: 0.3px;
$letter-spacing-medium: 0.8px;
$mobile: 360px;
$tablet: 768px;
$web: 1200px;
